
/* ========================
   Common css start
   ======================== */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-size: var(--medium-font);
}

:root {
    --primary-bg-color: #b2bec3;
    --secondary-bg-color: #ffffff;
    --text-color: #57606f;
    --secondary-text-color: #3742fa;
    --fontPrimary: #002333;
    --black-color-v2: #232323;
    --p-color: #aaa69d;
    --big-font: 2.5rem;
    --medium-font: 1.5rem;
    --small-font: 1rem;
    --xl-font: 0.9rem;
    --button-color: #ff5252;
    --primary-color: #5f1de8;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    user-select: none;
}

.layout_container {
    max-width: 1200px;
    margin: 0 auto;
    width: 96%;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    transition: all 0.5s;
}

img {
    width: 100%;
    height: auto;
}

button {
    transition: all 0.5s;
}


/* ========================
   Common css end
   ======================== */
/* ========================
   header css end
   ======================== */

header {
    padding: 0.9rem;
    box-sizing: border-box;
    box-shadow: 0 0 5 1px rgba(0, 0, 0, 0.3);
    background-color: rgba(234, 234, 234, 0.7);
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
/* .header::after{
    container: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
} */

.header_content {
	display: grid;
	/* justify-content: space-between; */
	align-items: left;
	grid-template-columns: 30% 55% 15%;
	/* align-self: center; */
	justify-content: space-between;
	align-content: center;
    justify-self: center;
}
.header_content .logo h2 {
    text-align: center;
    font-size: var(--medium-font);
    font-weight: 900;
    /* color: var(--button-color); */
    color: var(--fontPrimary);
    word-spacing: 1.5;
    margin-top: -2px;
    word-spacing: 5px;
    text-align: left;
}

.header_content .logo span {
    color: var(--primary-color);
}

/* navigation menu */

nav.menu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
}

nav.menu ul li a {
    color: var(--fontPrimary);
    font-weight: 600;
    display: inline-block;
    margin-left: 20px;
    padding: 5px 10px;
    font-size: var(--xl-font);
    border-bottom: 3px solid transparent;
}

nav.menu ul li a:hover {
    color: var(--button-color);
    border-bottom-color: var(--secondary-text-color);
    box-sizing: border-box;
}

/* nav.menu ul li:first-child a {
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 5px;
} */
.menu-bar,.mobile-res-btn{
    display: none;
}
#menu-close-icon{
    display: none;
}
/* hiteme btn css */
.hireMeBTn{
  text-align: right;
}
.hireMeBTn a {
    color: #fff;
    font-weight: 600;
    background-color: var(--primary-color);
    display: inline-block;
    margin-left: 20px;
    padding: 5px 10px;
    font-size: var(--xl-font);
    border-radius: 5px;
}

.hireMeBTn a:hover {
    background-color: var(--text-color);
    color: #fff;
}

/* ========================
   header css end
   ======================== */
/* ========================
   hero  css start
   ======================== */

   .hero_section {
    /* position: relative; */
    background-image: url(img/12319936_SL-011719-17920-65.jpg);
    background-repeat: repeat;
    background-size: cover;
    object-fit: cover;
    position: relative;
    z-index: -99;
}

.hero_section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: -98;
}


.hero_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6rem 0;
    line-height: 1.1;
    min-height: 100vh;
    gap: 20px;
}

.hero_info {
    width: 90%;
    /* max-width: 500px; */
    color: var(--p-color);
    z-index: 99;
}

.hero_info h1 {
    font-size: 2.6rem;
    font-weight: 900;
    margin-bottom: 0 !important;
    color: var(--fontPrimary);
    word-spacing: 10px;
    padding-bottom: 3px;
}

.hero_info h1 span {
    color: var(--primary-color);
}

.hero_info small {
    margin-bottom: 35px;
    display: inline-block;
    color: var(--fontPrimary);
    font-size: 15px;
    text-transform: lowercase;
}

.hero_info p {
    color: var(--black-color-v2);
    font-weight: normal;
    text-align: justify;
    line-height: 1.7;
    margin-bottom: 40px;
}

/* hero button start */
.hero_buttons button {
    border: 0;
    outline: 0;
    padding: 15px 25px;
    background-color: var(--secondary-text-color);
    color: #fff;
    border-radius: 5px;
    margin-right: 15px;
    transition: 0.5s !important;
    font-size: 16px;
    font-family: 'poppins', sans-serif;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.hero_buttons button:hover{
    transform: scale(1.05);
}
.hero_buttons .hireMe_Btn {
    background-color: var(--primary-color);
    color: white;
}
.hero_buttons .downloadCv_btn{
    background-color: #ff5252;
}

.hero_buttons .hireMe_Btn:hover {
    background-color: var(--secondary-text-color);
    color: white;
}

.hero_buttons .downloadCv_btn:hover {
    background-color: var(--text-color);
}

/* hero button start */

/* hero img start */
.hero_img {
    width: 100%;
    height: auto;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color: red; */
}

/* .hero_img .hero_img_style {
    background-color: var(--primary-color);
    margin: 0 auto;
    width: 400px;
    height: 400px;
    margin-top: 80px;
    text-align: center;
    display: inline-block;
    position: relative;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
} */

 /* .hero_img img {
    position: absolute;
    height: auto;
    left: 850px;
    width: 474px;
    border-radius: 0 0 5px 5px;
}  */
.hero_img img{
    transition: 0.5s;
    margin-top: -1rem;
    animation: animation-scale 5s infinite linear alternate;
}
@keyframes animation-scale {
    0%{
        transform: translateY(0%) scale(1.3);

    }
    100%{
        transform: translateY(-5%) scale(1.3);
    }
}
/* hero img end */


/* ========================
   hero css end
   ======================== */
/* ========================
   about css start
   ======================== */
#about {
    padding: 5rem;
    min-height: 100vh;
    background-color: #d1d8e0;
}

.section_heading {
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.section_heading h1 {
    font-size: var(--big-font);
    color: var(--black-color-v2);
    font-weight: bold;
}

.section_hr {
    width: 50%;
    height: 2px;
    margin: 0 auto;
    display: inline-block;
    background-color: var(--black-color-v2);
    border: 0;
    font-weight: 900;
}

.about_section_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid #fff;
    padding: 4rem 2rem;
}

.about_info {
    width: 40%;
    /* max-width: 500px; */
    color: #000;

}

.about_info h1 {
    color: #ff5252;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.about_info p {
    margin-bottom: 20px;
    text-align: justify;
    color: rgba(0, 0, 0, 0.7)
}
/* vertivcal bar */
/* .vertical-bar {
    height: 300px; 
    width: 5px; 
    margin-left: 35px;
    background-color: var(--black-color-v2);
} */

/* vertivcal bar */

/* about social start */
.about_social_icons{
    border: 1px solid #fff;
    display: inline-block;
    padding: 10px 15px;
}
.about_social_icons ul{
    display: flex; 
}
 .about_social_icons ul li a span{
    background-color: var(--secondary-text-color);
    color: #fff;
    padding: 5px 6px;
    margin-right: 10px;
    border-radius: 3px;
    display: inline-block;
    transition: 0.3s;
}
.about_social_icons ul li a span:hover{
    transform: translateY(-10px);
    background-color: var(--text-color);
    
}
/* about social end */
/* about image */
.about_img {
    position: relative;
    width: 50%;
    height: 100%;
    margin-left: 5px;
    border: 1px solid #fff;
    border-top-left-radius: 20%;
    padding: 3rem 2rem;
}
.about_img .img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;

}
.about_img .img::after{
    content: '';
    width: 65%;
    height: 100%;
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    border-top-left-radius: 30%;
    left: 25%;
    /* transform: rotate(-20deg); */
}
/* .about_img .img::before{
    content: '';
    width: 40%;
    height: 100%;
    background-color: #ff5252;
    position: absolute;
    top: 0;
    right: 0;
    /* transform: rotate(20deg); 
} */
.about_img .img img {
    z-index: 2;
    border-bottom-left-radius: 5px;
    transition: 0.5s;
}
.about_img .img img:hover{
    filter: saturate(0.6)
}
/* .about_img::after{
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    background-color: #002333;
    top: 0;
    left: 100px;
    bottom: 0;
    padding: 10px 0;
    z-index: 1;
    transition: background-color 0.9s !important;
    z-index: -1;
    border-radius: 20px;
} */

/* ========================
   about css end
   ======================== */
#service{
    background-color: var(--primary-bg-color);
    padding: 4rem 0;
}
.service_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
}
.service-image{
    width: 70%;
}
.service-image img{
    width: 100%;
    transform: scale(1.3);
}
.services-area{
    width: 100%;
    padding: 3rem;
    border: 1px solid rgba(225, 225, 225, 0.9);
}
/* .services {
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(20px,1fr)); 
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    min-height: 100vh;
    color: black; */
.services-area .services{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.services-area .services .service{
    width: 180px; 
    height: 180px;
    background-color: #fff;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    border: 1px solid #b2bec3;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}
.services-area .services .service h3{
    font-size: 15px;
}
.services-area .services .service img{
    width: 90px;
}

.services > div:nth-of-type(5) h3{
    /* margin-top: 30px; */
}
.services-area .services .service:hover{
    transition: 0.5s;
}
.services-area .services .service::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition: 0.5s;
}
/* .services .service:hover h3{
    color: #fff;
    z-index: 999;
}  */
.services .service:hover::before{
    opacity: 0.4;
}
.services .service:hover img {
    transform: scale(1.1);
    transition: 0.5s;
}

.services .service img {
    width: 50px;
    aspect-ratio: 3/2;
    object-fit: contain;
    height: auto;
} */
/* ========================
      services css end
   ======================== */
/* ========================
   portfolio section start
   ======================== */
#portfolio{
    padding: 4rem 0 0 0 ;
    min-height: 100vh;
    background-color: #fff;
}
.portfolio_image{
    width: 100%;
    display: grid;
    grid-template-columns:  repeat(auto-fit,minmax(250px,1fr));
    grid-template-rows: 1fr 1fr;
    grid-auto-flow: dense;
    gap: 5px;
    /* grid-template-rows: 1fr 1fr; */
    /* grid-template-rows: repeat(3,1fr); */
}
.horizontal{
  grid-column: span 2;
}
.vertical{
    grid-row: span 2;
}
.portfolio_image > div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ========================
   portfolio section end
   ======================== */

/* ========================
   logos slider start
   ======================== */
#logos_slider_section{
    background-color: var(--secondary-bg-color);
    padding: 2rem 0;
}
   .logos_slider {
    white-space: nowrap;
    display: flex;
    overflow: hidden;
  }
  
  .logos_slider ul {
    animation: 30s slide infinite linear;
    display: flex;
    list-style-type: none;
    white-space: nowrap;
  }
  .logos_slider:hover ul{
    animation-play-state: paused;
  }
  
  .logos_slider ul li {
    margin: 0 50px;
  }
  
  .logos_slider ul li span {
    font-size: 5rem;
  }
  @keyframes slide {
    from{
      transform: translateX(0);
    }
    to{
      transform: translateX(-100%);
    }
  }
.hellojonogon{
    white-space: nowrap;
}

/* ========================
   logos slider end
   ======================== */